ul {
  display: flex;
  list-style-type: none;
}

li {
  font-family: sans-serif;
  font-size: 16px;
  margin-right: 10px;
  padding-left: 15px;
}

.nav-text {
  color: black;
  text-decoration: none;
}

.nav-text:hover {
  font-weight: bolder;
}

header {
  position: relative;
}

.menu-bar {
  position: absolute;
  right: 10px;
}

.main-app {
  padding-top: 150px;
  text-align: center;
}

.logo {
  width: 300px;
  margin-bottom: 20px;
  top: 60px;
  position: relative;
}

.search-box {
  width: 500px;
  height: 40px;
  border: gray solid 1px;
  border-radius: 25px;
  padding-left: 15px;
  padding-right: 45px;
  color: black;
  margin-top: 80px;
}

.search-btn input {
  width: 150px;
  height: 40px;
  border: none;
  background-color: white;
  margin-top: 20px;
  margin-right: 25px;
  margin-left: 25px;
  font-family: Arial, sans-serif;
  font-size: 14px;
  outline: none;
  box-shadow: rgba(0, 0, 0, 0.04) 0px 3px 5px;
}

.search-box:focus {
  outline: none;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px,
    rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}

.image-box {
  margin-top: 63px;
}

.search-btn input:hover {
  background-color: rgb(235, 235, 235);
  border-radius: 5%;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.search-icon {
  width: 20px;
  position: relative;
  top: 5px;
  right: 40px;
}

.image-text {
  position: relative;
  margin: 0px;
  padding: 0px;
  top: 15px;
  left: 110px;
  font-family: Arial, sans-serif;
  font-size: 14px;
  color: blue;
}

.branding {
  width: 80px;
  position: absolute;
  left: 10px;
  top: 10px;
}

.adv-head {
  border-bottom: solid 1px gainsboro;
  min-height: 120px;
}

.heading-txt {
  top: 75px;
  position: relative;
  font-family: Arial, sans-serif;
  font-size: 20px;
  color: #d93025;
  margin-left: 35px;
}

.main {
  margin-left: 35px;
  margin-right: 15px;
}

.title {
  font-family: monospace;
  font-size: 15px;
  font-weight: 500;
}

.rows {
  margin-top: 10px;
  display: flex;
  font-size: 14px;
  font-family: sans-serif;
}

.text-heading {
  min-width: 175px;
}

.text-input {
  margin-top: 5px;
  width: 500px;
  height: 25px;
  padding-left: 5px;
  padding-right: 5px;
}

.text-input:focus {
  outline: none;
  border: 1px blue solid;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px,
    rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}

.submitAdvanced {
  margin-top: 20px;
  max-width: 683px;
  text-align: right;
}

.btnAdvanced {
  padding: 10px;
  color: white;
  background-color: #0066ff;
  border: #0066ff;
  font-size: 14px;
  border-radius: 5px;
  font-weight: 400;
}

.btnAdvanced:hover {
  cursor: pointer;
  background-color: #003cff;
}
